@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset styles */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
}

.container {
  max-width: 1518px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.content__container {
  max-width: 950px;
  flex-grow: 1;
}

.form__container {
  max-width: 520px;
  background-color: rgb(39, 39, 39);
  padding: 30px 20px 0 20px;
  min-width: 310px;
  flex-grow: 1;
  padding-bottom: 20px;
}



@media screen and (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
